#!/bin/bash
export PROJECT_NAME=GeometryWars
export ANDROID_NDK=/home/nvpopov/apps/android-deps/android-ndk-r9c
export ANDROID_BUILD=android_build
export ARMEABI=armeabi
export ARCH=arm
export API_LEVEL=14
export LOCAL_PATH=`pwd`
export GAINPUT_PATH=${LOCAL_PATH}/deps/gainput
export BULLET3D_PATH=${LOCAL_PATH}/deps/bullet4droid
export OPENAL_PATH=${LOCAL_PATH}/deps/openal-soft
export OGRE_ROOT=${LOCAL_PATH}/deps/ogre3d
export PROJECT_PACKAGE="com.ogre3d.geometrywars"
